:host {
  display: block;
  position: relative;
}

.scrollable {
  position: relative;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.scrollable.-no-scrollable {
  overflow: unset;
}

.left-button,
.right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease-in;
}

.-invisible {
  opacity: 0;
}

.left-button {
  left: -16px;
}

.right-button {
  right: -16px;
}
