.root {
  width: calc(100% - 130px);
  margin: 0 64px
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  outline: 1px solid rgb(148, 16, 16)
}

.item {
  box-sizing: border-box;
  width: 150px;
  height: 170px;
  flex-shrink: 0;
  border: 1px solid rgb(47, 126, 196);
  scroll-snap-align: center;
}

.item + .item {
  margin-left: 16px;
}
