<div class="container">
  <swiper
    (slideChange)="onSlideChange()"
    (swiper)="onSwiper($event)"
    [cssMode]="true"
    [mousewheel]="true"
    [navigation]="{ disabledClass: '-disabled', prevEl: '.prev-button-sw' , nextEl: '.next-button-sw' }"
    [scrollbar]="{ draggable: true }"
    [slidesPerGroup]="3"
    [slidesPerView]="3.5"
    [spaceBetween]="16"
  >
    <ng-container *ngFor="let item of items">
      <div *swiperSlide class="item-sw"> {{ item.name }}</div>
    </ng-container>
  </swiper>
  <button class="prev-button-sw"><<</button>
  <button class="next-button-sw">>></button>
</div>
