<p>Расширяемая либа, но есть проблема при скролле и нажатии на кнопку (но скролл пока не нужен, поэтому можно забить имхо)</p>
<p>и проблема с <a href="https://github.com/nolimits4web/swiper/issues/4326" target="_blank">три шейкингом</a> на данный момент</p>

<div class="container">
  <swiper
    (slideChange)="onSlideChange()"
    (swiper)="onSwiper($event)"
    [mousewheel]="false"
    [navigation]="{ disabledClass: '-disabled', prevEl: '.prev-button-sw' , nextEl: '.next-button-sw' }"
    [scrollbar]="{ draggable: true }"
    [slidesPerGroup]="3"
    [slidesPerView]="3.5"
    [spaceBetween]="16"
  >
    <ng-container *ngFor="let item of items">
      <div *swiperSlide class="item-sw"> {{ item.name }}</div>
    </ng-container>
  </swiper>
  <button class="prev-button-sw"><<</button>
  <button class="next-button-sw">>></button>
</div>
